/* for when the alert is not on screen */
#alert {
    position: fixed;
    top: 50%;
    left: 50%;

    padding: 1vw;
    border: 2px solid black;
    border-radius: 10px;

    opacity: 0;
    background-color: darkgray;

    transform: translate(-50%, -50%) translateY(-50vh);
    transition: opacity 1s, transform 1s;
}

#buttons {
    display: flex;
}

/* for when the alert is not on screen */
#alert.visible {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
}