/* for when the alert is not on screen */
#alert {
    position: fixed;
    top: 50%;
    left: 50%;

    color: #ff3d00;

    padding: 0 1rem 1rem 1rem;
    border: 3px solid #f8805a;
    border-radius: 1rem;

    opacity: 0;
    background-color: #ffffff;

    transform: translate(-50%, -50%) translateY(-50vh);
    transition: opacity 0.5s, transform 0.5s;
    pointer-events: none;

    font-weight: bold;
}

/* alert exit button parent for positioning */
#alertHeader {
    display: flex;
    justify-content: space-between;

    background-color: white;
}

/* alert exit button */
#alertHeader > button {
    max-height: 1rem;
    max-width: 1rem;
    font-size: 1rem;
    line-height: 1;

    background: none;
    border: none;

    color: #ff3d00;

    cursor: pointer;
}

/* button spacing */
#buttons {
    display: flex;
    justify-content: space-evenly;
}

/* button spacing and pointer cursor */
#alertButtons > button {
    padding: 0.3rem;
    border: 1px solid #f8805a;;
    border-radius: 0.3rem;
    margin: 1rem 15% 0 15%;

    cursor: pointer;
}

/* highlighting the confirm button */
#alertButtons > button:nth-of-type(2) {
    color: #ffffff;
    background-color: #f8805a;
    font-weight: bold;
}

/* highlighting the confirm button */
#alertButtons > button:nth-of-type(2):hover {
    background-color: #ff3d00;
}

/* for when the alert is on screen */
#alert.visible {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
}

