/* for when the alert is not on screen */
#alert {
    position: fixed;
    top: 50%;
    left: 50%;

    color: #ff3d00;

    padding: 1vw;
    border: 3px solid #f8805a;
    border-radius: 1vw;

    opacity: 0;
    background-color: #ffffff;

    transform: translate(-50%, -50%) translateY(-50vh);
    transition: opacity 1s, transform 1s;

    font-weight: bold;
}

/* button spacing */
#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vw;
}

/* button spacing */
#buttons > button {
    padding: 0.3rem;
    border: 1px solid #f8805a;;
    border-radius: 0.3rem;
}

/* highlighting the confirm button */
#buttons > button:nth-of-type(2) {
    color: #ffffff;
    background-color: #f8805a;
    font-weight: bold;
}

/* highlighting the confirm button */
#buttons > button:nth-of-type(2):hover {
    background-color: #ff3d00;
}

/* for when the alert is not on screen */
#alert.visible {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
}