.App {
    text-align: center;
    background-color: #f55a29;
    padding: 1vh 0 1vh 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#inputContainer {
    display: flex;
    width: 100%;

    border-bottom: 3px solid #f8805a;
}

#inputForm {
    width: 30%;

    background-color: #ffffff;

    border: 3px solid #f8805a;
    border-radius: 3vw;
    padding: 1vw;
    margin: 1vw;
}

#filterOptions {
    width: 70%;

    background-color: #ffffff;

    border: 3px solid #f8805a;
    border-radius: 3vw;
    padding: 1vw;
    margin: 1vw;
}

#tasks {
    background-color: #ffffff;

    border: 3px solid #f8805a;
    border-radius: 3vw;
    padding: 1vw;
    margin: 1vw;

    flex: 1;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}