/* aligning both the sort filter options side by side */
#taskOptions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4vw;
}

/* subtitles */
#taskOptions p {
    margin: 0;
}

#searching label {
    display: flex;
    flex-direction: column;
}

#searching input {
    width: 12vw;
}

/* centering the sorting options */
#sorting {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

/* sorting criteria dropdown menu */
#sorting select {
    text-align: center;
}

#sorting label {
    display: flex;
    flex-direction: column;
}

/* arranging the filtering options into a centred, 2-column grid*/
#filtering {
    display: grid;
    grid-template-columns: 15vw 15vw;
    justify-content: center;
    align-content: center;
}

/* filtering title - expanding across the grid */
#filtering > h4 {
    grid-column: 1 / -1; /* equivalent to span 2 in this case, start at column 1, end at column -1 (the end)*/
}

/* filtering subtitle - expanding across the grid */
#filtering > p {
    grid-column: 1 / -1; /* equivalent to span 2 in this case, start at column 1, end at column -1 (the end)*/
}

/* separating the label text and the checkbox */
#filtering label {
    display: flex;
    justify-content: center;
    padding: 0.2vw;
}

#filtering label input {
    margin-right: 3vw;
}
