/* making heading take less space */
#taskInputs h3 {
    margin: 0;
}

/* labels (text + input/dropdown) within the input section*/
#taskInputs label {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 2px;
}

/* reset and submit buttons within the input section*/
#taskInputs button {
    padding: 2px;
    margin: 0px 10px 0px 10px;
}

/* both the dropdown list and input boxes within the input section*/
#taskInputs select, input {
    margin: auto;
}

/* id select dropdown */
#methodDropdown {
    text-align: center;
    width: 4vw;
}

/* method select dropdown */
#methodDropdown {
    text-align: center;
    width: 7vw;
}

/* input boxes within the input section */
#taskInputs input {
    width: 20vw;
}

#dropDownDateInputs label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 10rem;
    margin: 0 auto;
}

#dropDownDateInputs label p {
    margin: 0;
    grid-column: 1 / span 2;
}

#dropDownDateInputs label input {
    grid-column: 1;
    width: 3rem;
}

#dropDownDateInputs label select {
    grid-column: 2;
    width: 5rem;
}
