/* labels (text + input/dropdown) within the input section*/
#taskInputs label {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 2px;
}

/* reset and submit buttons within the input section*/
#taskInputs button {
    padding: 2px;
    margin: 0px 10px 0px 10px;
}

/* both the dropdown list and input boxes within the input section*/
#taskInputs select, input {
    margin: auto;
}

/* id select dropdown */
#methodDropdown {
    text-align: center;
    width: 4vw;
}

/* method select dropdown */
#methodDropdown {
    text-align: center;
    width: 7vw;
}


/* input boxes within the input section */
#taskInputs input {
    width: 20vw;
}

#displayedTasks ul {
    margin: 0;
    padding: 0;
}

#displayedTasks li {
    list-style-type: none;
}