/* making heading take less space */
#taskInputs h3 {
    margin: 0;
}

/* labels (text + input/dropdown) within the input section */
#taskInputs label {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 0.3vh;
}

/* buttons within the input section */
#taskInputs button {
    padding: 2px;
    margin: 0.5vh 1vw 0.5vh 1vw;
    width: 33%;

    cursor: pointer;
}

/* both the dropdown list and input boxes within the input section */
#taskInputs select, input {
    margin: auto;
}

/* dropdown lists */
#taskInputs select {
    text-align: center;
}


/* input boxes within the input section */
#taskInputs input {
    width: 20vw;
}