#inputFormContainer {
    display: flex;
    justify-content: space-evenly;
}

/* making heading take less space */
#taskInputs h3 {
    margin: 0;
}

/* labels (text + input/dropdown) within the input section */
#taskInputs label {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 0.3vh;
}

/* buttons within the input section */
#taskInputs button {
    padding: 2px;
    margin: 2vh 15% 0.5vh 15%;
    width: 20%;

    cursor: pointer;
}

/* both the dropdown list and input boxes within the input section */
#taskInputs select, input {
    margin: auto;
}

/* dropdown lists */
#taskInputs select {
    text-align: center;
}

/* input boxes within the input section */
#taskInputs input {
    width: 20vw;
    font-family: "Tahoma";
    font-size: 13.3333px;
}

#taskInputs textarea {
    resize: none;
    font-family: "Tahoma";
    font-size: 13.3333px;
}

#statusAndPriority {
    display: flex;
    justify-content: space-evenly;
}

#statusAndPriority select {
    width: 6vw;
}

#inputFormDates {
    display: flex;
    justify-content: space-evenly;
}

#inputFormDates input {
    width: 8vw;
}