/* for when the notification is not on screen */
#notification {
    position: fixed;
    top: 2vw;
    right: 1vw;

    color: #ff3d00;

    padding: 1vw;
    border: 3px solid #f8805a;
    border-radius: 1vw;

    opacity: 0;
    background-color: #ffffff;

    transform: translateX(5vw);
    transition: opacity 1s, transform 1s;

    font-weight: bold;
}

/* for when the notification is on screen */
#notification.visible {
    transform: translateX(0);
    opacity: 1;
}