/* for when the notification is not on screen */
#notificationInvisible {
    position: fixed;
    top: 2vw;
    right: 1vw;

    padding: 1vw;
    border: 2px solid black;
    border-radius: 10px;

    opacity: 0;
    background-color: darkgray;

    transform: translateX(5vw);
    transition: opacity 0.2s, transform 0.5s;
}

/* for when the notification is not on screen */
#notificationVisible {
    position: fixed;
    top: 2vw;
    right: 1vw;

    padding: 1vw;
    border: 2px solid black;
    border-radius: 10px;

    opacity: 1;
    background-color: darkgray;

    transform: translateX(-5vw);
    transition: opacity 0.2s, transform 0.5s;
}