/* for when the notification is not on screen */
#notification {
    position: fixed;
    top: 4%;
    right: 2%;

    color: #ff3d00;

    padding: 1vw;
    border: 3px solid #f8805a;
    border-radius: 1vw;

    opacity: 0;
    background-color: #ffffff;

    transform: translateX(30vw);
    transition: opacity 0.5s, transform 0.5s;

    font-weight: bold;
}

/* for when the notification is on screen */
#notification.visible {
    transform: translateX(0);
    opacity: 1;

    cursor: pointer;
}

#notification > p {
    margin-bottom: 0;
}

/* chrome notification background */
#notificationProgressBar::-webkit-progress-bar {
    background-color: #f8805a;
    max-height: 1vh;
    border-radius: 1vw;
}

/* firefox notification background */
#notificationProgressBar {
    background-color: #f8805a;
    max-height: 1vh;
    border-radius: 1vw;
}

/* chrome notification foreground */
#notificationProgressBar::-webkit-progress-value {
    background-color: #ff3d00 !important;
}

/* chrome notification foreground */
#notificationProgressBar::-moz-progress-bar {
    background-color: #ff3d00 !important;
}

/* IE notification foreground */
#notificationProgressBar {
    color: #ff3d00;
}
