/* for when the notification is not on screen */
#notification {
    position: fixed;
    top: 2vw;
    right: 1vw;

    padding: 1vw;
    border: 2px solid black;
    border-radius: 10px;

    opacity: 0;
    background-color: darkgray;

    transform: translateX(5vw);
    transition: opacity 1s, transform 1s;
}

/* for when the notification is on screen */
#notification.visible {
    transform: translateX(0);
    opacity: 1;
}