/* making heading take less space */
#displayedTasks h3 {
    margin: 0;
}

/* centering the table */
#table {
    display: flex;
    justify-content: center;
}

/* whole table styling */
#table table {
    border-collapse: collapse; /* merging table borders (without this there will be spaces between borders as if there were margin) */
    border: 1px solid black;
    margin: 1vw;
}

/* border for headings */
#table tr:nth-of-type(1) th {
    border: 1px solid black;
}

/* table data alternating background color for visibility */
#table tr:nth-of-type(2n) td {
    background-color: #e8e8e8;
}

/* border for table data */
#table td {
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0.2vw;
}

/* aligning both the sort filter options side by side */
#taskOptions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
}

/* centering the sorting options */
#sortOptions {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 2px;
}

/* arranging the filtering options into a centred, 2-column grid*/
#filterOptions {
    display: grid;
    grid-template-columns: 15vw 15vw;
    justify-content: center;
    align-content: center;
}

#filterOptions > h4 {
    grid-column: 1 / -1; /* equivalent to span 2 in this case, start at column 1, end at column -1 (the end)*/
}

/* separating the label text and the checkbox */
#filterOptions label {
    display: flex;
    align-items: center;
}

